# if statements

In [1]:
a = 30
b = 45
if b>a:
    print("b is greater than a")
    print("hello a")
print("hello python")

b is greater than a
hello a
hello python

In [23]:
if a>b:
    print("false")
    if b==45:
        print("true")
    elif  b == 45:
            a = 30
            print("a is less than b")
            print("good")
else:
    print("nice")

nice

In [3]:
c = 4
d = 5
sum = c+d
if sum == 9:
    print("good")
    if d*c==20:
        print("great")
    elif  c == 5:
        print("wrong")
else:
    print("welldone")

good
great

# LOOPS

# use of  while loop

# basic parts of a loop

In [1]:
# counter - a variable used to conrol loop
# logic - basic condition on which loop runs
# increment/decrement  -to specify  step value

In [2]:
counter = 40
while counter >=5:
    print(counter)
    counter-=5

40
35
30
25
20
15
10
5

In [1]:
print(1)

1

In [2]:
i =1
for i in range (1,11):
    print("Islamabad",i)

Islamabad 1
Islamabad 2
Islamabad 3
Islamabad 4
Islamabad 5
Islamabad 6
Islamabad 7
Islamabad 8
Islamabad 9
Islamabad 10

In [4]:
for n in range (50,39,-2):
    print(n)

50
48
46
44
42
40

In [7]:
for i in range (1,11):     # concatenation by typecasting to string  
    print("3 X " +  str(i) +  " = " +  str(i*3))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [19]:
# to print numbers divisible by 3,5,7,10 in range 1-1000
for i in range (1,1001):
    if (i%3 == 0) or (i%5 == 0) or (i%7 == 0):
        print(i,end='  ')

3  5  6  7  9  10  12  14  15  18  20  21  24  25  27  28  30  33  35  36  39  40  42  45  48  49  50  51  54  55  56  57  60  63  65  66  69  70  72  75  77  78  80  81  84  85  87  90  91  93  95  96  98  99  100  102  105  108  110  111  112  114  115  117  119  120  123  125  126  129  130  132  133  135  138  140  141  144  145  147  150  153  154  155  156  159  160  161  162  165  168  170  171  174  175  177  180  182  183  185  186  189  190  192  195  196  198  200  201  203  204  205  207  210  213  215  216  217  219  220  222  224  225  228  230  231  234  235  237  238  240  243  245  246  249  250  252  255  258  259  260  261  264  265  266  267  270  273  275  276  279  280  282  285  287  288  290  291  294  295  297  300  301  303  305  306  308  309  310  312  315  318  320  321  322  324  325  327  329  330  333  335  336  339  340  342  343  345  348  350  351  354  355  357  360  363  364  365  366  369  370  371  372  375  378  380  381  384  385  387  390  392  393  395  396  399  400  402  405  406  408  410  411  413  414  415  417  420  423  425  426  427  429  430  432  434  435  438  440  441  444  445  447  448  450  453  455  456  459  460  462  465  468  469  470  471  474  475  476  477  480  483  485  486  489  490  492  495  497  498  500  501  504  505  507  510  511  513  515  516  518  519  520  522  525  528  530  531  532  534  535  537  539  540  543  545  546  549  550  552  553  555  558  560  561  564  565  567  570  573  574  575  576  579  580  581  582  585  588  590  591  594  595  597  600  602  603  605  606  609  610  612  615  616  618  620  621  623  624  625  627  630  633  635  636  637  639  640  642  644  645  648  650  651  654  655  657  658  660  663  665  666  669  670  672  675  678  679  680  681  684  685  686  687  690  693  695  696  699  700  702  705  707  708  710  711  714  715  717  720  721  723  725  726  728  729  730  732  735  738  740  741  742  744  745  747  749  750  753  755  756  759  760  762  763  765  768  770  771  774  775  777  780  783  784  785  786  789  790  791  792  795  798  800  801  804  805  807  810  812  813  815  816  819  820  822  825  826  828  830  831  833  834  835  837  840  843  845  846  847  849  850  852  854  855  858  860  861  864  865  867  868  870  873  875  876  879  880  882  885  888  889  890  891  894  895  896  897  900  903  905  906  909  910  912  915  917  918  920  921  924  925  927  930  931  933  935  936  938  939  940  942  945  948  950  951  952  954  955  957  959  960  963  965  966  969  970  972  973  975  978  980  981  984  985  987  990  993  994  995  996  999  1000

In [20]:
#    ascii codes of following ascii code   97-122 and display in format as   A  a  0
#   B  b  1
for i in range (65,91,1):
    print(chr(i),"", chr(i+32),"", chr(i-17))

A  a  0
B  b  1
C  c  2
D  d  3
E  e  4
F  f  5
G  g  6
H  h  7
I  i  8
J  j  9
K  k  :
L  l  ;
M  m  <
N  n  =
O  o  >
P  p  ?
Q  q  @
R  r  A
S  s  B
T  t  C
U  u  D
V  v  E
W  w  F
X  x  G
Y  y  H
Z  z  I

In [1]:
for i in range (1,21,3):
    print(i)

1
4
7
10
13
16
19

In [3]:
#  perform a task that if elements of a matrix are divisible  by 5 then return row and column number.
l = [[2,5,0],\
     [8,9,10],\
     [20,30,27], \
     [35,9,20]]
#   enumerate is used to get lac
for ri,r in enumerate(l):
    for ci,c in enumerate(r):
        if c%5 == 0:
            print((ri,ci,c), end = "")
    print()

(0, 1, 5)(0, 2, 0)
(1, 2, 10)
(2, 0, 20)(2, 1, 30)
(3, 0, 35)(3, 2, 20)

In [4]:
["5 X " + str(i) + " = " + str(5*i) for i  in range (1,11)]   # list in comprehensive style

['5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '5 X 10 = 50']

# Running loops using USER INPUT

In [1]:
###### Taking multiple user inputs about name,fathername,contact number and continue adding data to the list
# as long as they want to continue.
name = []
dadname = []
number = []
more = "y"
while more == "y":
    name1 = input("Name: ")
    dadname1 = input("Father Name: ")
    number1 = input("Number: ")
    name.append(name1)
    dadname.append(dadname1)
    number.append(number1)
    more = input("continue?")
    print(name)
    print(dadname)
    print(number)

Name: Alina
Father Name: Muhammed Ali
Number: 12345
continue?y
['Alina']
['Muhammed Ali']
['12345']
Name: Sana
Father Name: M.Ahmed
Number: 23456
continue?y
['Alina', 'Sana']
['Muhammed Ali', 'M.Ahmed']
['12345', '23456']
Name: Mariam
Father Name: Saad Khan
Number: 34567
continue?n
['Alina', 'Sana', 'Mariam']
['Muhammed Ali', 'M.Ahmed', 'Saad Khan']
['12345', '23456', '34567']

# Nested loops

# printing tables horizontally

In [2]:
t = input("Enter the number to print Tables:")
t = int(t)    # typecasting the user input bcz user input is string by default
for i in range (1,11):
    print(str(t )+" X "+ str(i)+ " = "+ str(i*t))

Enter the number to print Tables:4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [10]:
t = input("Enter the number to print tables: ")
t = int(t)
for i in range (1,11):
    for k in range (1,t+1):   # this is inner loop  and then end='\t' makes the next tab
        print(str(k )+ "X "+ str(i )+ " = "+ str(i*k),end='\t\t')
    print()

Enter the number to print tables: 5
1X 1 = 1		2X 1 = 2		3X 1 = 3		4X 1 = 4		5X 1 = 5
1X 2 = 2		2X 2 = 4		3X 2 = 6		4X 2 = 8		5X 2 = 10
1X 3 = 3		2X 3 = 6		3X 3 = 9		4X 3 = 12		5X 3 = 15
1X 4 = 4		2X 4 = 8		3X 4 = 12		4X 4 = 16		5X 4 = 20
1X 5 = 5		2X 5 = 10		3X 5 = 15		4X 5 = 20		5X 5 = 25
1X 6 = 6		2X 6 = 12		3X 6 = 18		4X 6 = 24		5X 6 = 30
1X 7 = 7		2X 7 = 14		3X 7 = 21		4X 7 = 28		5X 7 = 35
1X 8 = 8		2X 8 = 16		3X 8 = 24		4X 8 = 32		5X 8 = 40
1X 9 = 9		2X 9 = 18		3X 9 = 27		4X 9 = 36		5X 9 = 45
1X 10 = 10		2X 10 = 20		3X 10 = 30		4X 10 = 40		5X 10 = 50

In [9]:
t = input("Enter the number to print tables: ")
t = int(t)
for k in range (1,t+1):
    for i in range (1,11):   # this is inner loop  and then end='\t' makes the next tab
        print(str(k )+ "X "+ str(i )+ "= "+ str(i*k))
    print()

Enter the number to print tables: 6
1X 1= 1
1X 2= 2
1X 3= 3
1X 4= 4
1X 5= 5
1X 6= 6
1X 7= 7
1X 8= 8
1X 9= 9
1X 10= 10

2X 1= 2
2X 2= 4
2X 3= 6
2X 4= 8
2X 5= 10
2X 6= 12
2X 7= 14
2X 8= 16
2X 9= 18
2X 10= 20

3X 1= 3
3X 2= 6
3X 3= 9
3X 4= 12
3X 5= 15
3X 6= 18
3X 7= 21
3X 8= 24
3X 9= 27
3X 10= 30

4X 1= 4
4X 2= 8
4X 3= 12
4X 4= 16
4X 5= 20
4X 6= 24
4X 7= 28
4X 8= 32
4X 9= 36
4X 10= 40

5X 1= 5
5X 2= 10
5X 3= 15
5X 4= 20
5X 5= 25
5X 6= 30
5X 7= 35
5X 8= 40
5X 9= 45
5X 10= 50

6X 1= 6
6X 2= 12
6X 3= 18
6X 4= 24
6X 5= 30
6X 6= 36
6X 7= 42
6X 8= 48
6X 9= 54
6X 10= 60